.angular-google-map-container {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 10;
    left: 0;
}

a {
    font-size: 1.2em;
}

.centerAll {
    margin: auto;
    width: 90%;
    text-align: left;
}

.title {
    border-bottom: 1px solid #c0c0c0;
}

.rightBorder {
    border-right: 1px dashed #337ab7;
}

.bus {
    border-radius: 3px;
    font-size: 1.1em;
    display: inline;
    padding-right: 15px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.bus.evenBus {
    background-color: #f0f0f0;
    color: gray;
}

.bus.oddBus {
    background-color: #e5e5e5;
    color: darkslategray;
}

.street {
    padding-left: 3px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.street.odd {
    background-color: #f0f0f0;
    color: gray;
}

.street.even {
    background-color: #f5f5f5;
    color: darkslategray;
    border-bottom: 1px dashed #e0e0e0;
    border-top: 1px dashed #e0e0e0;
}

.oddTag {
    background-color: #e5e5e5;
    color: goldenrod;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    padding-left: 3px;
}

.evenTag {
    background-color: #f5f5f5;
    color: olive;
    border: 1px solid olive;
    border-radius: 5px;
    padding-left: 3px;
}

.tag {
    display: inline;
}

.tagBus {
    text-align: center;
    display: inline-flex;
    padding: 2px;
}